*.session
members.csv
group_pending_queue.txt
.venv
.vscode
target_groups.txt
test.py
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
/media
/static
Terminal_Bot

Telethon_Bot/local_settings.py
local_settings.py
