{% extends 'base.html' %}

{% block content %}
<div class="text-right">
    <br><br>
    <h2>توضیحات پنل</h3>
    <hr>
    <h5>:صفحه اصلی و اول پنل دارای سه قسمت اصلی است</h5>
    <h4>محیط ادمین </h4>
    <p>این قسمت به منظور دسترسی مستقیم به داده های موجود در دیتابیس قرار داده شده است. در اینجا میتوانید اطلاعات کامل مربوط به اکانت های ورکر و ممبر های استخراج 
        شده و گروه های مبدا و مقصد را مشاهده کنید و انها را تغییر دهید یا حذف و اپدیت کنید
    </p>
    <h4>صفحه اصلی</h4>
    <p>
        در این صفحه اطلاعات کلی در مورد اکانت های ورکر ربات شامل تعداد و وضعیت محدودیت یا فعالیت ان نشان داده شده است.اگر اکانتی محدود شده باشد نمیتوان از ان در هیچ 
        عملی استفاده کرد . دلیل این محدودیت یا ریپورت شدن اکانت است که باید جند روز منتظر ماند تا رفع شود سپس بصورت دستی وضعیت را از محدود به بدون محدودیت تغغیر داد 
        تا اکانت قابل استفاده شود. دلیل دیگر این وضعیت این است که این اکانت نتها روی گروه اخری که روی ان عملیات داشته است لیمیت شده است و روی گروه های دیگر مشگلی ندارد
        لذا در کپمین های بعدی باز هم این اکانت را بصورت دستی از طریق محیط ادمین از وضعیت محدود به بدون محدودیت تغغیر دهید تا قابل استفاده شود 
    </p>
    <h4>عملیات ها</h4>
    <pre class=" font-weight-bold">
       : این بخش شامل تمام دستورات ربات است . برای اجرای هر کمیپین مراحل زیر را انجام دهید
        
        ابتدا اگر اکانت ورکری از کمپین های قبلی محدود شده بود ,در صورتی که این محدودیت به دلیل ریپورت نباشد  برای استفاده از این اکانت در کمپین های بعدی یا کمپین های -
                                                 دیگر از قسمت محیط ادمین وارد بخش مربوط به ورکر ها شوید و تیک لیمیت ورکر را بردارید و دکمه سیو را بزنید تا ذخیره شود

        (سپس از قسمت "اضافه کردن گروه مبدا" گروه های مبدا مورد نظر را یکی یکی اضافه کنید (لینک کامل گروه -

        سپس از قسمت "استخراخ کاربرها از گروه های مبدا" دکمه شروع را بزنید تا ربات ممبر های گروه های مبدا را که قبلا وارد کردید استخراج کند.این کار ممکن است ۱تا ۲ ساعت -
        طول بکشد .هنگامی که این عملیات اغاز میشود وضعیت ربات از غیر فعال به فعال تغغیر پیدا میکند و هنگامی که عملیات استخراج  تمام شود وضعیت ربات دوباره به غیر فعال  
                                                                                                                          تغییر پیدا میکند و اماده ی عملیات جدید است  

        سپس وارد قسمت "اضافه کردن کاربرها به گروه هدف شوید" .در قسمت اول فرم لینک گروه هدف را وارد کنید.در قسمت دوم فرم لینک گروه مبدا ای را وارد کنید که میخواهید ممبر -
        های صرفا این گروه به گروه هدف اضافه شوند در غیر این صورت این قسمت را خالی بگذارید تا تمام ممبر های موجود در دیتابیس گرفته شوند. سپس در قسمت سوم فرم مشخص کنید 
           که قصد دارید چه تعداد ممبر به گروه هدف اضافه کنید . هنگامی که ربات به این تعداد برسد عملیات اد را متوقف میکند . و در نهایت در قسمت اخر فرم تعداد اکانت های 
                                                                           ورکری که برای این کمپین میخواهید را وارد کنید و در اخر فرم را تایید کنید تا کمپین اغاز شود
        
         نکته) اگر میخواهید همزمان دو یا چند کمپین را شروع کنید بهتر است ابتدا عملیات استخراج را روی گروه های مبدا انجام دهید و سپس به سراغ عملیات اضافه کردن ممبر ها 
                                                                                                                                         روی گروه های هدف بروید 
    </pre>
    
</div>
{% endblock content %}