{% extends 'base.html' %}

{% block content %}
<div class=" container " style="width:800px; margin:0 auto;">
    <div class=" container  h-100 row align-items-center justify-content-center">
        <div class=" col">
            <form action="{% url 'add-members' %}" method="POST" class=" center">
                {% csrf_token %}
                <div class=" form-group">
                    <label for="target_group_link">لینک گروه هدف</label>
                    <input type="text" name="target_group_link" class=" form-control" placeholder="https://t.me/XXXXXX" required>
                </div>
                <div class=" form-group">
                    <label for="source_group_link">( لینک گروه مبدا (فیلد خالی: تمام کاربرهای موجود در دیتا بیس</label>
                    <input type="text" name="source_group_link" class=" form-control" placeholder="https://t.me/XXXXXX">
                </div>
                <div class=" form-group">
                    <label for="rate">تعداد ممبر های موردنظر برای اد کردن</label>
                    <input type="number" name="rate" class=" form-control" required>
                </div>
                <div class=" form-group">
                    <label for="num_of_workers">تعداد اکانت های ورکر برای این کمپین</label>
                    <input type="number" name="num_of_workers" class=" form-control" required>
                </div>
                <input type="submit" value="شروع عملیات" class=" btn btn-primary btn-block">
            </form>
        </div>
    </div>
</div>

<br>
<br>
<br>
{% include 'partials/messages.html' %}
{% endblock content %}