{% extends 'base.html' %}

{% block content %}
<div class=" container " style="width:800px; margin:0 auto;">
    <div class=" container  h-100 row align-items-center justify-content-center">
        <div class=" col">
            <form action="{% url 'add-target-group' %}" method="POST" class=" center">
                {% csrf_token %}
                <div class=" form-group">
                    <label for="target_group_link">Link</label>
                    <input type="text" name="target_group_link" class=" form-control" placeholder="https://t.me/XXXXXX" required>
                </div>
                <input type="submit" value="ADD" class=" btn btn-primary btn-block">
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% include 'partials/messages.html' %}
{% endblock content %}