{% extends 'base.html' %}

{% block content %}
{% if privacy_restricted_members %}
<br>
<br>
<br>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">آیدی</th>
        <th scope="col">نام کاربری</th>
      </tr>
    </thead>
    <tbody>
        {% for member in privacy_restricted_members %}
            <tr>
                <td>{{member.member_id}}</td>
                {% if member.member_username %}
                    <td>@{{member.member_username}}</td>
                {% else %}
                    <td>Null</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody> 
  </table>

{% else %}

<br><br><br><br><br><br><br><br><br>

<h4 class=" text-center">هیچ کاربری تا به حال با خطا مواجه نشده است</h4>
{% endif %}
{% endblock content %}